p {
  color: rgba(0, 0, 0, 0.7);
}
/**
 * ===============================
 *  Section Heading Section Defult Style 
 * ===============================
 */
.section-heading {
  color: rgba(0, 0, 0, 0.9);
}
.section-heading:after {
  background: url('../../../images/shape-purple.png');
}
.section-header .section-heading-normal {
  color: rgba(0, 0, 0, 0.8);
}
.section-header p {
  color: rgba(0, 0, 0, 0.7);
}
/**
 * ===============================
 *   Defult Button Style
 * ===============================
 */
.btn.btn-fill {
  background-color: #d869c0;
  border-color: #d869c0;
}
.btn.btn-fill:hover {
  background-color: #c232a3 !important;
  border-color: #c232a3 !important;
}
.btn.btn-border {
  border-color: #d869c0;
}
.btn.btn-border:hover {
  background-color: #d869c0;
}
.btn-text-link a {
  color: #d869c0;
}
.btn-text-link a:hover {
  color: #c232a3 !important;
}
/**
 * ================================
 * Navbar Style 
 * ================================
 */
.header-nav {
  /* After Fixed In Top */
}
.header-nav.navbar-home .nav li .btn {
  background-color: #d869c0;
}
.header-nav.navbar-home .nav li .btn:hover {
  background-color: #c232a3 !important;
  border-color: #c232a3 !important;
}
/**
 * ==========================
 * How it works Section
 * ==========================
 */
.how-it-works {
  background-color: #ffffff;
}
/* Features Defult Style */
.features .each-item .fa {
  color: #d869c0;
}
.features-hover .each-item:hover .fa {
  background-color: #d869c0;
}
/**
 * ========================================
 * Two cols description width image
 * ========================================
 */
.two-cols-description-with-image {
  background-color: #f3f4ef;
}
.description-info-inner ul li {
  color: rgba(0, 0, 0, 0.7);
}
.description-info-inner ul li:before {
  color: #d869c0;
}
.description-info-inner ul li:hover:before {
  background-color: #d869c0;
}
/**
 * ===============================
 * Our featured Section Style
 * ===============================
 */
.our-featured {
  background-color: #ffffff;
}
/** 
 * ======================
 * Fun Facts
 * ======================
 */
.fun-facts {
  background-color: #f3f4ef;
}
/**
 * ======================
 * Pricing Table Section 
 * ======================
 */
.pricing-table {
  background-color: #ffffff;
}
.table-single {
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.table-single .important {
  background-color: #d869c0;
}
.table-single .important:after {
  border-top: 38px solid #d869c0;
}
.table-single .meta-price {
  color: #000000;
}
.table-single .meta-price .rate:after {
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.table-single .button .btn {
  border-color: rgba(0, 0, 0, 0.08);
  color: #000000;
}
.table-single:hover .meta-price .rate {
  background-color: #d869c0;
}
.table-single:hover .button .btn {
  border-color: #d869c0;
  background-color: #d869c0;
}
/**
 * ====================================
 * Register Form Style
 * ====================================
 */
.register-background {
  background-color: #ffffff;
}
.register-body .section-header .section-heading {
  color: #ffffff;
}
.register-body .section-header p {
  color: rgba(255, 255, 255, 0.7);
}
.form-cus {
  border-color: #d869c0;
}
.form-cus:focus {
  border-color: #d869c0;
}
/**
 * =========================================
 * Collapse CSS
 * =========================================
 */
#collapse-area {
  background-color: #ffffff;
}
.collapse-tab .panel .panel-heading {
  background: #ffffff;
}
.collapse-tab .panel .panel-heading .panel-title a {
  background-color: #ffffff !important;
  border-bottom-color: #d869c0;
  color: rgba(0, 0, 0, 0.8);
}
.collapse-tab .panel .panel-heading .panel-title a .collapse-icon span {
  background-color: rgba(0, 0, 0, 0.4);
}
.collapse-tab .panel .panel-heading .panel-title a .collapse-icon span:after {
  background-color: rgba(0, 0, 0, 0.4);
}
.collapse-tab .panel-collapse {
  background-color: #ffffff;
  border-bottom-color: #d869c0;
}
.collapse-tab .panel-collapse .panel-body {
  color: rgba(0, 0, 0, 0.7);
}
/**
 * ===========================
 * Footer Section 
 * ===========================
 */
.footer {
  background-color: #18181c;
}
.footer .copyright p {
  color: rgba(255, 255, 255, 0.7);
}
.footer .copyright p a {
  color: #d869c0;
}
.footer .copyright p a:hover {
  color: #c232a3 !important;
}
/**
 * ================================
 * Some Features Section
 * ================================
 */
.some-feature .section-header .section-heading {
  color: rgba(255, 255, 255, 0.9);
}
.some-feature .section-header p {
  color: rgba(255, 255, 255, 0.7);
}
.some-feature .features .detail h4 {
  color: #d869c0;
}
.some-feature .features .detail p {
  color: rgba(255, 255, 255, 0.7);
}
/**
 * =============================
 * Client's Feedback Section
 * =============================
 */
.client-feedback {
  background-color: #f3f4ef;
}
.client-feedback-contant .left-contant .quote-sym .fa {
  color: #d869c0;
}
.client-feedback-contant .left-contant #sync1 {
  background-color: #ffffff;
}
.client-feedback-contant .left-contant #sync1 .item blockquote {
  color: rgba(0, 0, 0, 0.7);
}
.client-feedback-contant .left-contant #sync1 .item figcaption cite {
  color: #d869c0;
}
.client-feedback-contant .left-contant #sync1 .owl-controls .owl-page span {
  background: #d869c0;
}
/**
 * =============================
 * Our Story Section
 * =============================
 */
.our-story {
  background-color: #f3f4ef;
}
.our-story-contant .each-year .year span:after {
  background-color: #d869c0;
}
.our-story-contant .each-year .year span:before {
  background-color: #d869c0;
}
.our-story-contant .each-year .year:after {
  background-color: #d869c0;
}
@media (max-width: 767px) {
  /**
     * ================================
     * Navbar Style 
     * ================================
     */
  .header-nav {
    /* After Fixed In Top */
  }
  .header-nav .navbar-collapse.in {
    border-top-color: rgba(216, 105, 192, 0.9);
  }
}
